.modalProfilUser__wrapper {
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
}



.modalProfilUser__container {
    height: 278px;
    width: 301px;
    border-radius: 18px;
    background: #6F6D6D;
    border: 1px solid #FBDBA3;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 5%;
    left: 72%;
    z-index: 5;
}

.modalProfilUser__logo {
    width: 50px;
    height: 50px;
    background: #FBDBA3;
    border: 1px solid #000000;
    height: 50px;
    margin-right: 15px;
    border-radius: 50%;
    margin-bottom: 15px;

}

.modalProfilUser__userName {
    font-size: 20px;
    line-height: 25px;
    color: #FFFFFF;
}

.modalProfilUser__email {
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    opacity: 0.6;

}

.modalProfilUser__header {
    display: flex;
    margin: 16px 28px;
    justify-content: center;
    border-bottom: 1px solid #FBDBA3;
}

.modalProfilUser__title {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: #FFFFFF;
    opacity: 0.7;
    margin: 24px 48px;
    width: 30%;
    padding-left: 15px;

}

.modalProfilUser__title:hover {
    cursor: pointer;
    border-bottom: 1px solid #FBDBA3;

}