.form__input-wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  border: none;
}

.login__form-input {
  opacity: 0.7;
}

.form__input-container {
  position: relative;
  display: flex;
  width: 100%;
}

.form__label {
  max-height: 1.95vw;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: start;
  gap: 0.52vw;
  font-weight: 400;
  font-size: 1.042vw;
  line-height: 1;
  color: var(--white);
}

.form__checkbox {
  position: relative;
  width: 1.95vw;
  height: 1.95vw;
  border: 0.065vw solid #97876B;
  text-align: center;
  opacity: 0.5;
  border-radius: 0.326vw;
  background-color: var(--brown);
  appearance: none;
  color: var(--white);
  cursor: pointer;
  outline: none;
}

.form__checkbox:checked:before {
  content: "";
  position: absolute;
  top: 8%;
  left: 40%;
  width: 20%;
  height: 53.33%;
  line-height: 1;
  border-right: 0.13vw solid var(--green);
  border-bottom: 0.13vw solid var(--green);
  transform: rotate(45deg);
  opacity: 0.8;
}

.login__btn {
  width: 100%;
  margin-top: 1.82vw;
}

.forgot-link {
  font-weight: 400;
  font-size: 1.042vw;
  line-height: 1.25;
  text-decoration-line: underline;
  color: var(--white);
  margin-top: 1.56vw;
  align-self: center;
  transition: all 0.5s ease-in-out;
}

.form__register-text {
  margin-top: 3vw;
  font-weight: 400;
  font-size: 1.56vw;
  line-height: 1.25;
  color: var(--white);
  align-self: center;
}

.register-link {  
  color: var(--green);
  margin-left: 5px;
  transition: all 0.5s ease-in-out;
}

.register-link:hover,
.forgot-link:hover {
  color: var(--gold);
  transition: all 0.5s ease-in-out;
}

.login__head-wrap .error-message {
  text-align: center;
}

.form__input-wrap .error-message {
  align-self: start;
}

.error-message_hidden {
  visibility: hidden;
  user-select: none;
}
