.login__wrap {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: grid;
  align-content: center;
  justify-content: center;
  grid-template-columns: minmax(auto, 34.125rem);
  grid-template-rows: minmax(auto, 41.1875rem);
  backdrop-filter: blur(12.5px);
  z-index: 1000;
}

.login__container {
  position: relative;
  max-width: 83vh;
  max-height: 94vh;
  align-self: center;
  justify-self: center;
  padding: 6% 9% 10%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background: #424141;
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.25);
}

.form__input-wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.login__close {
  align-self: flex-end;
  height: 1.5rem;
}

.login__close-icon {
  width: 1.5rem;
  height: 1.5rem;
  transition: all 0.5s ease-in-out;
}

.login__close-icon:hover {
  filter: invert(86%) sepia(27%) saturate(507%) hue-rotate(341deg) brightness(101%) contrast(97%);
  transition: all 0.5s ease-in-out;
}

.login__title {
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 1.25;
  color: #FFFFFF;
  text-align: center;
}

.login__form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 2rem;
}

.form__input-wrap {
  border: none;
}

.form__input-wrap .error-message {
  align-self: start;
}

.form__input {
  width: 100%;
  max-height: 3.625rem;
  opacity: 0.7;
  border: 1px solid #FBDBA3;
  border-radius: 15px;
  background-color: transparent;
  padding: 4%;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.25;
  caret-color: #FFFFFF;
}

.form__input:focus-visible {
  outline: none;
}

.form__input::placeholder {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.25;
  color: #FFFFFF;
  opacity: 0.7;
}

.form__password-label {
  position: relative;
  width: 100%;
}

.form__password-label .form__input {
  padding-right: 2.875rem;
}

.form__eye {
  position: absolute;
  right: 6%; 
  top: 50%;
  transform: translate(50%, -50%);
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.form__eye:hover {
  filter: invert(98%) sepia(10%) saturate(20%) hue-rotate(32deg) brightness(43%) contrast(103%);
  transition: all 0.5s ease-in-out;
}

.form__label {
  max-height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: start;
  gap: 0.5rem;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.25;
  color: #FFFFFF;
}

.form__checkbox {
  position: relative;
  width: 30px;
  height: 30px;
  border: 1px solid #97876B;
  text-align: center;
  opacity: 0.5;
  border-radius: 5px;
  background-color: #424141;
  appearance: none;
  color: #ffffff;
  cursor: pointer;
  outline: none;
}

.form__checkbox:checked:before {
  content: "";
  position: absolute;
  top: 3px;
  left: 11px;
  width: 6px;
  height: 16px;
  border-right: 2px solid #60CD71;
  border-bottom: 2px solid #60CD71;
  transform: rotate(45deg);
  opacity: 0.8;
}

.login__btn {
  width: 100%;
  min-height: 48px;
}

.login__btn:disabled {
  background: transparent;
  color: #FFFFFF;
  border: 1px solid #FBDBA3;
  transition: all 0.5s ease-in-out;
}

.forgot-link {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.25;
  text-decoration-line: underline;
  color: #FFFFFF;
  margin-top: 1.5em;
  align-self: center;
  transition: all 0.5s ease-in-out;
}

.form__register-text {
  margin-top: 2em;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.25;
  color: #FFFFFF;
  align-self: center;
}

.register-link {  
  color: #60CD71;
  margin-left: 5px;
  transition: all 0.5s ease-in-out;
}

.register-link:hover,
.forgot-link:hover {
  color: #FBDBA3;
  transition: all 0.5s ease-in-out;
}

.error-message {
  max-width: 100%;
  max-height: 41px;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.25;
  text-align: center;
  color: #E86666;
}

.login__head-wrap .error-message {
  text-align: center;
  margin-top: 0.5rem;
}
