.resetPassword__wrap {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(12.5px);
}

.resetPassword__container {
    position: relative;
    width: 546px;
    padding: 15px 49px 60px;
    background: #424141;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
}


.resetPassword__close {
    display: flex;
    position: relative;
    width: 100%;
    left: 12px;
    align-self: flex-end;
    height: 24px;
    justify-content: flex-end;
}

.resetPassword__close-icon {
    width: 24px;
    height: 24px;
    transition: all 0.5s ease-in-out;
}

.resetPassword__close-icon:hover {
    filter: invert(86%) sepia(27%) saturate(507%) hue-rotate(341deg) brightness(101%) contrast(97%);
    transition: all 0.5s ease-in-out;
}

.resetPassword__title {
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 1.25;
    color: #FFFFFF;
}

.resetPassword__subtitle {
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #FFFFFF;
    opacity: 0.7;
    margin-bottom: 42px;
}

.resetPassword__form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.resetPassword__form__input {
    width: 100%;
    opacity: 0.7;
    border: 1px solid #FBDBA3;
    border-radius: 15px;
    background-color: transparent;
    padding: 18px 0px 18px 28px;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    caret-color: #FFFFFF;
    box-sizing: border-box;

}

.resetPassword__form__input:focus-visible {
    outline: none;
}

.resetPassword__form__input::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    opacity: 0.7;
}

.resetPassword__login__btn {
    width: 448px;
    height: 48px;
}

.resetPassword__form__error {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #E86666;
    margin: 8px 0px;
}

.form__eye {
    position: absolute;
    right: 20px;
    top: 18px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.form__eye:hover {
    filter: invert(98%) sepia(10%) saturate(20%) hue-rotate(32deg) brightness(43%) contrast(103%);
    transition: all 0.5s ease-in-out;
}