.resetPassword__wrap {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(12.5px);
    z-index: 15;
}

.resetPassword__container {
    position: relative;
    width: 546px;
    padding: 15px 49px 60px;
    background: #424141;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
}


.resetPassword__close {
    display: flex;
    position: relative;
    width: 100%;
    left: 12px;
    align-self: flex-end;
    height: 24px;
    justify-content: flex-end;
}

.resetPassword__close-icon {
    width: 24px;
    height: 24px;
    transition: all 0.5s ease-in-out;
}

.resetPassword__close-icon:hover {
    filter: invert(86%) sepia(27%) saturate(507%) hue-rotate(341deg) brightness(101%) contrast(97%);
    transition: all 0.5s ease-in-out;
}

.resetPassword__title {
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 2.11vw;
    line-height: 1.25;
    color: #FFFFFF;
}

.resetPassword__subtitle {
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #FFFFFF;
    opacity: 0.7;
    margin-bottom: 42px;
}

.resetPassword__form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.resetPassword__form>.input__container:first-child {
    margin-top: 1.81vw;

}

.resetPassword__form__error {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #E86666;
    margin: 8px 0px;
}