body {
    background-color: #6F6D6D;
}

.home {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.wrapper {
    height: 100vh;
    background: #6F6D6D;
}

.home__background-text_first, .home__background-text_second {
    position: absolute;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20.833vh;
    color: #EBEAE8;
    opacity: 0.05;
}
.home__background-text_first{
    left: 2.344vw;
    top: -3.96vh;
}
.home__background-text_second {
    left: 22.786vw;
    top: 63.5vh;
}

/* -------------Discription------------- */
main {
    height: 30vh;
}
.discription {
    display: flex;
    flex-direction: column;
    padding: 5.625vh 6.51vw 10vh;
}

h1.discription__title {
    font-family: 'Libre Caslon Display';
    text-transform: uppercase;
    font-style: normal;
    font-weight: 400;
    font-size: 6.66vh;
    line-height: 120%;
    color: #D7D6D3;
}

p.discription__content  {
    margin-top: 0.625rem;
    font-weight: 400;
    font-size: 2.083vh;
    color: #D7D6D3;
}
