body {
    background-color: #6F6D6D;
}
section {
    margin: 0 auto;
    padding: 0 100px;
}

.home {
    position: relative;
}

.home__background-text_first, .home__background-text_second {
    position: absolute;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 200px;
    line-height: 242px;
    color: #EBEAE8;
    opacity: 0.05;
}
.home__background-text_first{
    width: 926px;
    height: 242px;
    left: 36px;
    top: -38px;
}
.home__background-text_second {
    width: 931px;
    height: 240px;
    left: 350px;
    top: 600px;
}

/* -------------Discription------------- */
.discription {
    margin-top: 54px;
}
h1.discription__title {
    font-family: 'Libre Caslon Display';
    text-transform: uppercase;
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 120%;
    color: #D7D6D3;
}

p.discription__content  {
    margin-top: 10px;
    font-weight: 400;
    font-size: 20px;
    line-height: 25.08px;
    color: #D7D6D3;
}
