.logo {
    box-sizing: border-box;
    width: 128px;
    height: 128px;
    border-radius: 50%;
    background: #FBDBA3;
    border: 1px solid #000000;
    font-family: 'Libre Caslon Display';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 119.1%;
    color: #000000;

}