.settings {
  width: 100vw;
  height: 100%;
  display: flex;
  background-color: var(--back);
  position: relative;
}

.settings__container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 3.7vw 6.61vw 2.84vw;
}

.settings__background {
  position: absolute;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20.37vh;
  line-height: 1.21;
  color: var(--back-text);
  opacity: 0.05;
  white-space: nowrap;
  user-select: none;
  left: 12.4vw;
  top: -3.86vh;
}

.settings__home-link {
  align-self: flex-end;
  list-style: none;
  font-family: "Marcellus";
  font-style: normal;
  font-weight: 400;
  font-size: 1.59vw;
  line-height: 1.25;
  color: var(--white);
}

.settings__home-link:hover {
  color: var(--gold);
  transition: all 0.5s ease-in-out;
}

.settings__title {
  margin: 5.5vh 26.52vw 5.14vh 0;
  align-self: flex-end;
  color: var(--white);
  font-family: Marcellus;
  font-size: 2.12vw;
  font-style: normal;
  font-weight: 400;
  line-height: 1.20;
}

.settings__body {
  display: flex;
  flex-direction: column;
  width: 56vw;
  align-self: flex-start;
  flex: 1;
}

.settings__item-wrap {
  width: 100%;
  padding: 1.19vw 2.05vw 1.72vw 1.85vw;
}

.settings__item-wrap_gold {
  border-radius: 1.39vw;
  border: 0.066vw solid var(--gold);
}

.settings__subtitle-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.settings__subtitle-wrap:hover .settings__subtitle,
.settings__subtitle-wrap:hover .settings__info-text {
  color: var(--gold);
  transition: all 0.5s ease-in-out;
}

.settings__subtitle-inner {
  padding-bottom: 1.52vw;
}

.settings__btn-expand {
  width: 1.4vw;
  height: 1.4vw;
  background-color: transparent;
  border: none;
  text-align: center;
  appearance: none;
  cursor: pointer;
  outline: none;
  transform: rotate(45deg);
}

.btn-expand_top {
  border-top: 0.35vw solid var(--white);
  border-left: 0.35vw solid var(--white);
}

.btn-expand_top:hover,
.settings__subtitle-wrap:hover .btn-expand_top {
  border-top: 0.35vw solid var(--gold);
  border-left: 0.35vw solid var(--gold);
}

.btn-expand_bottom {
  border-bottom: 0.35vw solid var(--white);
  border-right: 0.35vw solid var(--white);
}

.btn-expand_bottom:hover,
.settings__subtitle-wrap:hover .btn-expand_bottom {
  border-bottom: 0.35vw solid var(--gold);
  border-right: 0.35vw solid var(--gold);
}

.settings__subtitle {
  color: var(--white);
  font-family: Marcellus;
  font-size: 1.32vw;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2;
}

.settings__info-text {
  font-family: Marcellus;
  font-size: 1.06vw;
  font-style: normal;
  font-weight: 400;
  line-height: 1.36;
  letter-spacing: 0.032px;
  color: var(--white);
  opacity: 0.5;
}

.settings__form {
  width: 44vw;
  padding-top: 2.17vw;
  border-top: 0.066vw solid var(--gold);
}

.settings__input-wrap {
  display: flex;
  justify-content: space-between;
  border: none;
}

.settings__input-container {
  width: 21vw;
}

.form__btn {
  width: 29.37vw;
  margin-bottom: 1.72vw;
}

.psw__btn{
  margin-bottom: 1.72vw;
}

.form__btn:disabled {
  color: var(--black);
}
