.wraper {
  min-height: 100vh;
  min-width: 100vh;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(7px);
}
.registration-form {
  display: flex;
  align-items: center;
  justify-content: center;
  position:relative;
}

.registration-form__body {
  position:relative;
  top: 9.37rem;
  flex: 1 1 auto;
  max-width: 546px;
  max-height: 715px;
  width: 546px;
  height: 715px;
  background: #424141;
  display: flex;
  flex-direction: column;
  z-index: 50;
}

.registration-form__exit {
  position: absolute;
  top: 38px;
  left: 496px;
  height: 22px;
  width: 22px;
  background: url(../../../assets/icons/x1.svg) no-repeat right center;
  margin: 0;
  padding: 0;
}
.registration-form__exit:hover {
  filter: invert(86%) sepia(27%) saturate(507%) hue-rotate(341deg)
    brightness(101%) contrast(97%);
  transition: all 0.5s ease-in-out;
}

.registration-form__title {
  margin-top: 3.5rem;
  font-family: "Marcellus";
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 40px;
  color: #ffffff;
  flex: auto;
  align-self: center;
}

.registration-form__email-already-exists {
  position: absolute;
  top: 112px;
  left: 77px;
  font-family: "Marcellus";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #e86666;
}

.input_form {
  position: absolute;
  opacity: 0.7;
  border: 1px solid #fbdba3;
  border-radius: 15px;
  background-color: #424141;
  resize: none;
  color: #d7d6d3;
  font-family: "Marcellus";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  padding-left: 22px;
  padding-right: 50px;
  outline: none;
}

.input_form::placeholder {
  font-family: "Marcellus";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  opacity: 0.7;
}

.input__user-name {
  width: 448px;
  height: 57px;
  margin-left: 49px;
  top: 138px;
}

.input__email {
  width: 448px;
  height: 57px;
  margin-left: 49px;
  top: 231px;
}
.input__password_eye-off {
  position: absolute;
  top: 344px;
  left: 455px;
  height: 22px;
  width: 22px;
  border: none;
}
.input__password_eye-off:hover {
  filter: invert(98%) sepia(10%) saturate(20%) hue-rotate(32deg) brightness(43%)
    contrast(103%);
  transition: all 0.5s ease-in-out;
}

.input__password {
  width: 448px;
  height: 57px;
  margin-left: 49px;
  top: 324px;
}

.input__text {
  position: absolute;
  margin-left: 48px;
  top: 389px;
  font-family: "Marcellus";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #ffffff;
  opacity: 0.8;
}

.input__confirm-btn {
  position: absolute;
  top: 457px;
  left: 49px;
  width: 448px;
  height: 48px;
  background-color: #fbdba3;
  opacity: 0.8;
  border: 1px solid #fbdba3;
  border-radius: 15px;
  transition-duration: 0.4s;
  text-decoration: none;
  cursor: pointer;
}

.input__confirm-btn:hover {
  background-color: #6f6d6d;
  cursor: pointer;
}

.input__confirm-text {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Marcellus";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  color: #000000;
}

.confirm__text-log {
  position: absolute;
  margin-left: 176px;
  top: 529px;
  font-family: "Marcellus";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}

.confirm__text-log_green {
  color: #60cd71;
}

.body__warning-footer {
  position: absolute;
  margin-left: 65px;
  top: 637px;
  max-width: 415px;
  font-family: "Marcellus";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  opacity: 0.8;
}

.input__text-error {
  position: absolute;
  margin-left: 49px;
  font-family: "Marcellus";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #e86666;
}
.empty-name {
  top: 203px;
}
.empty-email {
  top: 296px;
}
.empty-password {
  top: 389px;
}
