.link__forgot {
  text-decoration: underline;
  margin: 0 0.3vw;
}

.register__btn {
  margin-top: 3vw;
}

.register__text {
  margin-top: 1.56vw;
}

.terms-text {
  margin-top: 5vw;
  text-align: center;
}
