.Header-Logo_buttons {
  display: flex;
}

.Header__Wrapper {
  /* margin: 0 auto; */
  padding: 0 100px;
  /* width: 1312px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 60px;
}

.Header__Wrapper__Logo > a, .Discription__Wrapper > h1 {
  font-family: 'Libre Caslon Display', Serif;
  text-transform: uppercase;
}
.Header__Wrapper__Logo > a {
    font-size: 24px;
    color: #fff;
}

.Header__Wrapper__Buttons {
  display: flex;
}
.Header__Wrapper__Buttons__Login {
  position: relative;
  display: inline-block;
  width: 98px;
  height: 42px;
  border: 1px solid #000;
  border-radius: 15px;
  background-color: #FBDBA3;
  font-size: 24px;
  margin-right: 18px;
  transition: all 0.5s ease-in-out;
}
.Header__Wrapper__Buttons__Login > a {
  position: absolute;
  top: 14%;
  left: 20%;
  }
.Header__Wrapper__Buttons__Registration {
  position: relative;
  display: inline-block;
  width: 168px;
  height: 42px;
  border: 1px solid #000;
  border-radius: 15px;
  border-color: #000;
  background-color: #FBDBA3;
  font-size: 24px;
  transition: all 0.5s ease-in-out;
}
.Header__Wrapper__Buttons__Registration > a {
  position: absolute;
  top: 14%;
  left: 11.5%;
  }
.Header__Wrapper__Buttons__Login:hover, .Header__Wrapper__Buttons__Registration:hover {
  background-color: #6F6D6D;
  transition: all 0.5s ease-in-out;
}