.header-logo_buttons {
  display: flex;
}

.header__wrapper {
  padding: 0 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 60px;
}

.header__wrapper__logo > a, .discription__wrapper > h1 {
  font-family: 'Libre Caslon Display', Serif;
  text-transform: uppercase;
}
.header__wrapper__logo > a {
    font-size: 24px;
    color: #fff;
}

.header__wrapper__buttons {
  display: flex;
}
.header__wrapper__buttons__login {
  position: relative;
  display: inline-block;
  width: 98px;
  height: 42px;
  border: 1px solid #000;
  border-radius: 15px;
  background-color: #FBDBA3;
  font-size: 24px;
  margin-right: 18px;
  transition: all 0.5s ease-in-out;
}
.header__wrapper__buttons__login > a {
  position: absolute;
  top: 14%;
  left: 20%;
  }
.header__wrapper__buttons__registration {
  position: relative;
  display: inline-block;
  width: 168px;
  height: 42px;
  border: 1px solid #000;
  border-radius: 15px;
  border-color: #000;
  background-color: #FBDBA3;
  font-size: 24px;
  transition: all 0.5s ease-in-out;
}
.header__wrapper__buttons__registration > a {
  position: absolute;
  top: 14%;
  left: 11.5%;
  }
.header__wrapper__buttons__login:hover, .header__wrapper__buttons__registration:hover {
  background-color: #6F6D6D;
  transition: all 0.5s ease-in-out;
}