 .forgot__wrap {
     position: fixed;
     width: 100%;
     height: 100%;
     top: 0;
     left: 0;
     display: flex;
     justify-content: center;
     align-items: center;
     backdrop-filter: blur(12.5px);
 }

 .forgot__container {
     position: relative;
     width: 546px;
     padding: 15px 49px 60px;
     background: #424141;
     box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.25);
     box-sizing: border-box;
 }


 .forgot__close {
     display: flex;
     position: relative;
     width: 100%;
     left: 12px;
     align-self: flex-end;
     height: 24px;
     justify-content: flex-end;
 }

 .forgot__close-icon {
     width: 24px;
     height: 24px;
     transition: all 0.5s ease-in-out;
 }

 .forgot__close-icon:hover {
     filter: invert(86%) sepia(27%) saturate(507%) hue-rotate(341deg) brightness(101%) contrast(97%);
     transition: all 0.5s ease-in-out;
 }

 .forgot__title {
     text-align: center;
     font-style: normal;
     font-weight: 400;
     font-size: 32px;
     line-height: 1.25;
     color: var(--white);
 }

 .forgot__subtitle {
     font-weight: 400;
     font-size: 16px;
     text-align: center;
     color: var(--white);
     opacity: 0.7;
     margin-bottom: 42px;
 }

 .forgot__form {
     width: 100%;
     display: flex;
     flex-direction: column;
 }

 .forgot__form__input {
     width: 100%;
     opacity: 0.7;
     border: 1px solid var(--gold);
     border-radius: 15px;
     background-color: transparent;
     padding: 18px 0px 18px 28px;
     color: var(--white);
     font-weight: 400;
     font-size: 16px;
     line-height: 1.25;
     caret-color: var(--white);
     box-sizing: border-box;

 }

 .forgot__form__input:focus-visible {
     outline: none;
 }

 .forgot__form__input::placeholder {
     font-weight: 400;
     font-size: 16px;
     line-height: 20px;
     color: var(--white);
     opacity: 0.7;
 }



 .forgot__login__btn {
     width: 448px;
     height: 48px;
 }

 .forgot__login__submitBtn {
     background: var(--gold);
     border: 1px solid var(--black);
     border-radius: 15px;
     box-sizing: border-box;
     width: 100%;
     font-style: normal;
     font-weight: 400;
     font-size: 24px;
     line-height: 30px;
     align-items: center;
     color: var(--black);
     padding-top: 8px;
     padding-bottom: 10px;
     margin-top: 28px;
 }

 .forgot__form__error {
     font-style: normal;
     font-weight: 400;
     font-size: 16px;
     line-height: 20px;
     color: #E86666;
     margin: 8px 0px;
 }
