.albums__list {
  display: inline-flex;
  width: 100%;
  justify-content: flex-start;
  align-content: flex-start;
  gap: 1.5%;
  overflow: hidden;
}

.albums__list-item {
  flex: 1;
  max-width: 16.47vw;
  height: 26.46vw;
  overflow: hidden;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  position: relative;
}

.albums__list-item_minimize {
  max-width: 8vw;
  height: 13vw;
}

.albums__list-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s ease-in-out;
}

.albums__list-item:hover {
  flex: 1 1 50%;
  max-width: 100%;
  transition: 0.7s ease-in-out;
}

.albums__list-item:hover::after {
  content: attr(data-title);
  font-family: 'Libre Caslon Display';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: var(--white);
  text-transform: uppercase;
  font-weight: 400;
  font-size: 2.5vw;
  line-height: 1.25;
  text-align: center;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.albums__list-item:hover>img {
  filter: blur(5px);
  width: 100%;
  height: 100%;
  transition: 0.5s ease-in-out;
}
