.templateFirst__container {
    max-width: 100%;
    box-sizing: border-box;
    margin-bottom: 68px;

}

.templateFirst_shortImage_container {
    display: flex;
    gap: 2.64vw;
    width: 100%;
    margin-top: 4.94vw;
    margin-bottom: 4.94vw;
    justify-content: center;

}

.templateSecond_shortImage_container {
    display: flex;
    gap: 24px;
    width: 100%;
    margin-bottom: 68px;
}

.templateSecond_MicroImage_container {
    display: flex;
    gap: 40px;
    margin-top: 68px;
    justify-content: center;
}

.cover__image__landscope__text {
    font-size: 4vw;
    line-height: 80px;
    color: var(--gold);
    margin: auto;
}
