@import url('https://fonts.googleapis.com/css2?family=Inter&family=Libre+Caslon+Display&family=Marcellus&display=swap');

@import 'variables.css';

* {
  font-family: 'Marcellus', serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  -webkit-text-size-adjust: 100%;
}

ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

p {
  margin: 0;
  padding: 0;
}

.btn {
  width: 100%;
  box-sizing: border-box;
  background: var(--gold);
  opacity: 0.8;
  border: 0.065vw solid var(--gold);
  border-radius: 0.97vw;
  padding: 0.59vw 1vw;
  font-style: normal;
  font-size: 1.56vw;
  font-weight: 400;
  line-height: 1.25;
  color: var(--black);
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.btn:hover {
  background: #333333;
  color: var(--white);
  border: 0.065vw solid var(--gold);
  transition: all 0.5s ease-in-out;
}

.btn:disabled {
  background: transparent;
  color: #8d8c8c;
  border: 0.065vw solid var(--gold);
  transition: all 0.5s ease-in-out;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  border: 0.065vw solid var(--gold);
  -webkit-text-fill-color: var(--white);
  -webkit-box-shadow: 0 0 0px 1000px var(--brown) inset;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form__input-container {
  position: relative;
  display: flex;
  width: 100%;
}

.form__input-wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  border: none;
}

.form__input {
  width: min(100%, 29.17vw);
  height: 3.71vw;
  border: 0.065vw solid var(--gold);
  border-radius: 0.9765vw;
  background-color: transparent;
  padding: 1.24vw 1.43vw 1.17vw;
  color: var(--white);
  font-weight: 400;
  font-size: 1.042vw;
  line-height: 1.25;
  caret-color: var(--white);
}

.form__input:focus-visible {
  outline: none;
}

.form__input::placeholder,
.text {
  font-weight: 400;
  font-size: 1.042vw;
  line-height: 1.25;
  color: var(--white);
  opacity: 0.7;
}

.form__input-passw {
  padding-right: 2.7vw;
}

.form__eye {
  width: 1.5625vw;
  height: 1.5625vw;
  position: absolute;
  right: 1.65vw;
  top: 50%;
  transform: translate(50%, -50%);
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.form__eye:hover {
  filter: invert(98%) sepia(10%) saturate(20%) hue-rotate(32deg) brightness(43%) contrast(103%);
  transition: all 0.5s ease-in-out;
}

.title {
  font-style: normal;
  font-weight: 400;
  font-size: 2.08vw;
  line-height: 1.25;
  color: var(--white);
  text-align: center;
}

.error-message {
  max-width: 100%;
  font-weight: 400;
  font-size: 1.042vw;
  line-height: 1.25;
  text-align: left;
  color: var(--error);
}

.error-message_margin {
  margin: 0.521vw 0;
}

.error-message_hidden {
  visibility: hidden;
  user-select: none;
}

.form__input-wrap .error-message,
.form__input-wrap .text {
  align-self: start;
}

.form__head-wrap .error-message {
  text-align: center;
}

.link__green {
  color: var(--green);
  margin-left: 0.326vw;
  transition: all 0.5s ease-in-out;
}

.link__green:hover,
.link__forgot:hover {
  color: var(--gold);
  transition: all 0.5s ease-in-out;
}
