body {
  height: 100vh;
  overflow: hidden;
}

.slider {
  position: relative;
  height: 57vh;
  margin-top: 6vh;
  overflow: hidden;
}
.slider__container{
  width: 2485px; /* на скільки довго прокручується контейнер */
  height: inherit;
  /* overflow-x: auto;  Додала горизонтальну прокрутку */
  overflow: hidden;
  white-space: nowrap;
  -ms-overflow-style: none; /* приховала скроллбал Egg */
}
/* приховала скроллбал Chrome, Safari */
.slider__container::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.slider__section {
  position: relative;
  min-width: 100vh; /* додала відображення слайдеру в межах екрану */
}
/* .scroll-content > .item::before {
  height: 100%;
} */
.slider__photo-1 {
  position: absolute;
  margin-left: 3%;
  left: 0px;
  top: 75px;
  z-index: 1;
}
.slider__photo-1 > img {
  width: 14vw;
  height: 36vh;
  object-fit: cover;
}

.slider__photo-2 {
  position: absolute;
  margin-left: 2.5%;
  left: 75px;
  top: 0px;
  z-index: 0;
}
.slider__photo-2 > img {
  width: 25vw;
  height: 54.583vh;
  object-fit: cover;
}

.slider__photo-3 {
  position: absolute;
  margin-left: 2.5%;
  left: 27.15vw;
  top: 2vh;
  z-index: 5;
}
.slider__photo-3 > img {
  object-fit: cover;
  width: 20vw;
  height: 22vh;
}

.slider__photo-4 {
  position: absolute;
  margin-left: 5%;
  left: 24.8vw;
  top: 33.77vh;
  z-index: 4;
}
.slider__photo-4 > img {
  width: 16.86vw;
  height: 16.25vh;
  object-fit: cover;
}
.slider__photo-5 {
  position: absolute;
  margin-left: 2%;
  left: 36vw;
  top: 17vh;
  z-index: -4;
}
.slider__photo-5 > img {
  object-fit: cover;
  object-position: 0 0;
  width: 25vw;
  height: 35.83vh;
}

.slider__photo-6 {
  position: absolute;
  left: 49vw;
  top: 66px;
  z-index: 7;
}
.slider__photo-6 > img {
  object-fit: cover;
  object-position: 0 20;
  width: 21.8vw;
  height: 37.3vh;
}

.slider__photo-7 {
  position: absolute;
  margin-left: -2%;
  left: 65vw;
  top: 0px;
  z-index: 6;
}
.slider__photo-7 > img {
  width: 17.513vw;
  height: 29vh;
  object-fit: cover;
  object-position: 0 85%;
}

.slider__photo-8 {
  position: absolute;
  margin-left: -2%;
  left: 72vw;
  top: 31.56vh;
  z-index: 9;
}
.slider__photo-8 > img {
  width: 16.15vw;
  height: 23vh;
  object-fit: cover;
  object-position: 0 10%;
}

.slider__photo-9 {
  position: absolute;
  margin-left: -4%;
  left: 85.4vw;
  top: 0;
  z-index: 8;
}
.slider__photo-9 > img {
  width: 25vw;
  height: 51.46vh;
  object-fit: cover;
  object-position: 0 50%;
}

.slider__photo-10 {
  position: absolute;
  margin-left: -6%;
  left: 103.58vw;
  top: 5vh;
  z-index: 10;
}
.slider__photo-10 > img {
  width: 17.38vw;
  height: 30vh;
  object-fit: cover;
}

.slider__photo-11 {
  position: absolute;
  margin-left: -6%;
  left: 116.15vw;
  top: 0px;
  z-index: 12;
}
.slider__photo-11 > img {
  width: 26vw;
  height: 20.42vh;
  object-fit: cover;
  object-position: 0 20%;
}
.slider__photo-12 {
  position: absolute;
  margin-left: -8%;
  left: 112.3vw;
  top: 36.77vh;
  z-index: 13;
}
.slider__photo-12 > img {
  width: 21.16vw;
  height: 17.81vh;
  object-fit: cover;
  object-position: 0 50%;
}
.slider__photo-13 {
  position: absolute;
  margin-left: -10%;
  left: 129.5vw;
  top: 9.9vh;
  z-index: 11;
}
.slider__photo-13 > img {
  width: 25vw;
  height: 44.7vh;
  object-fit: cover;
  object-position: 0 50%;
}
.slider__photo-14 {
  position: absolute;
  margin-left: -10%;
  left: 151.17vw;
  top: 0px;
  z-index: 14;
}
.slider__photo-14 > img {
  width: 16.15vw;
  height: 23vh;
  object-fit: cover;
}
.slider__photo-15 {
  position: absolute;
  margin-left: -10%;
  left: 150.26vw;
  top: 30vh;
  z-index: 15;
}
.slider__photo-15 > img {
  width: 19.66vw;
  height: 21.875vh;
  object-fit: cover;
}

/* ----------------Hower images------------------- */
.scroll-content > .item > img {
  opacity: 0.7;
  filter: brightness(0.9), contrast(0.9);
  transition: opacity 0.5s ease, transform 0.5s ease-in;
}

.scroll-content > .item > img:hover {
  opacity: 1;
  filter: brightness(1.1), contrast(1.1) saturate(1.5);
  transition: opacity 2s ease, transform 1s ease-in;
  transform: scale(1.3);
}
